html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

main {
  flex-grow: 2;
}

header h1 {
  margin: 0;
}

p:first-of-type {
  margin-top: 0;
}

header {
  padding: 0 10px;
  max-width: 800px;
  margin: 50px auto;
  margin-bottom: 40px;
  text-align: center;
}

footer {
  padding: 0 10px;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}


small {
  color: #ccc;
}

.controls {
  padding: 10px 20px;
  max-width: 600px;
  margin: 0 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.group + .group {
  margin-top: 10px;
}

input {
  margin-right: 5px;
  cursor: pointer;
}

.field {
  border: 1px solid #ccc;
  padding: 5px 7px;
  border-radius: 5px;
  min-width: 250px;
  margin-top: 5px;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
	letter-spacing: .01em;
  background: linear-gradient(135deg, #6e8efb, #a777e3);

  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

  transition:
    box-shadow .2s cubic-bezier(.25, .8, .25, 1),
    transform .2s cubic-bezier(.25, .8, .25, 1);
}

button:hover,
button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

button:active {
  outline: none;
  transform: translateY(2px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.result {
  padding: 10px 20px;
  max-width: 600px;
  margin: 20px auto;

  display: none;
}

main.done .result {
  display: block;
}

main.done .controls {
  display: none;
}

.print-notice {
  display: none;
}

@media print {
  main:not(.done) .print-notice {
    display: block;
  }

  .controls,
  header,
  footer,
  .github-corner,
  .noprint {
    display: none;
  }
}

.pillbox {
  margin: 20px -10px;
}

.pillbox > * {
  margin: 10px;
}

.export-options label{
  display: inline-block;
}
